.result {
  width: 100%;
}

.section-title {
  font-size: xx-large;
}

.result {
  font-family: monospace;
  padding-left: 5px;
  border-width: 0 0 0 10px;
  border-left-style: solid;
  border-left-color: #0069d9;
}

.digest {
  min-height: 20px;
}

.signature {
  min-height: 150px;
}
